@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lato&family=Merriweather:ital,opsz@0,18..144;1,18..144&family=Montserrat:ital@0;1&family=Nunito:ital@0;1&family=Open+Sans:ital@0;1&family=Poppins&family=Raleway:ital@0;1&family=Roboto:ital@0;1&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* SERIF */

  --font-merriweather: 'Merriweather', Georgia, 'Times New Roman', serif;
  --font-times: 'Times New Roman', Times, serif;

  /* SANS-SERIF */

  --font-roboto: 'Roboto', Arial, Helvetica, sans-serif;
  --font-open-sans: 'Open Sans', Arial, Helvetica, sans-serif;
  --font-montserrat: 'Montserrat', Arial, Helvetica, sans-serif;
  --font-raleway: 'Raleway', Arial, Helvetica, sans-serif;
  --font-lato: 'Lato', Arial, Helvetica, sans-serif;
  --font-poppins: 'Poppins', Arial, Helvetica, sans-serif;
  --font-nunito: 'Nunito', Arial, Helvetica, sans-serif;
  --font-arial: Arial, Helvetica, sans-serif;
  --font-helvetica: Helvetica, Arial, sans-serif;

  /* MONOSPACE */

  --font-fira: 'Fira Code', Consolas, 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
